<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elokuvan muokkaus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1 th:text="#{Kuvaile}"></h1>
	<div>
	<form th:object="${elokuva}" th:action="@{../saveelokuva}" action="#" method="post">
		<input type="hidden" th:field="*{elokuva_id}" class="form-control"/>
		<table>
			<tr>
				<td th:text="#{Enimi}"></td>
				<td><input type="text" id="nimi" th:field="*{nimi}" /></td>
				<td th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</td>
			</tr>
			<tr>
				<td th:text="#{Eraja}"></td>
				<td><input type="text" id="ikaraja" th:field="*{ikaraja}" /></td>
				<td th:if="${#fields.hasErrors('ikaraja')}" th:errors="*{ikaraja}">Error</td>
			</tr>
			<tr>
				<td th:text="#{Ekuvaus}"></td>
				<td><input type="text" id="kuvaus" th:field="*{kuvaus}" /></td>
				<td th:if="${#fields.hasErrors('kuvaus')}" th:errors="*{kuvaus}">Error</td>
			</tr>
			<tr>
				<td><label for="Kategoriat"><span th:text="#{Kategoria}"></span></label></td>
				<td><select id="Kategoriat" th:field="*{kategoria}" class="form-control">
					<option th:each="kategoria: ${Kategoriat}" th:value="${kategoria.kategoria_id}" th:text="${kategoria.nimi}"></option>
				</select></td>
			</tr>
			<tr>
				<td><label for="Kategoriat"><span th:text="#{Ohjaaja}"></span></label></td>
				<td><select id="Ohjaajat" th:field="*{ohjaaja}" class="form-control">
					<option th:each="ohjaaja: ${Ohjaajat}" th:value="${ohjaaja.ohjaaja_id}" th:text="${ohjaaja.nimi}"></option>
				</select></td>
			</tr>
		</table>
		<button type="submit" th:text="#{Valmis}"></button>
		<a th:href="@{/}" style="text-decoration: none; color: black"><button type="button" th:text="#{Peruuta}"></button></a>
	</form>
	</div>
</body>

</html>