<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ElokuvaLista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1><span th:text= "${ kategoria.nimi }"></span> </h1>
	<table>
	<td><b th:text="#{Nimi}"> </b></td>
	<td><b th:text="#{Ohjaaja}"></b></td>
	<td><b th:text="#{Kuvaus}"></b></td>
	<td><b th:text="#{Kategoria}"></b></td>
	<td><b th:text="#{Ikaraja}"></b></td>
		<tr th:each= "elokuva:${elokuvat}">
			<td th:text= "${ elokuva.nimi }"></td>
			<td th:text= "${ elokuva.ohjaaja.nimi }"></td>
			<td th:text= "${ elokuva.kuvaus }"></td>
			<td th:text= "${ elokuva.kategoria.nimi }"></td>
			<td th:text= "${ elokuva.ikaraja }"></td>
		</tr>
	</table>

	<a th:href="@{/kategorialist}" style="text-decoration: none; color: black"><button type="button" th:text="#{Takaisin}"></button></a><br /><br />

	<table>
		<tr>
			<td><a th:href="@{/}" style="text-decoration: none; color: black"><button type="button" th:text="#{Elokuvat}"></button></a></td>
			<td><a th:href="@{/ohjaajalist}" style="text-decoration: none; color: black"><button type="button" th:text="#{Ohjaajat}"></button></a></td>
			<td><a th:href="@{/kategorialist}" style="text-decoration: none; color: black"><button type="button" style="background-color: lightblue" th:text="#{Kategoriat}"></button></a></td>
		</tr>
	</table>
	
</body>
</html>