<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leffa login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1 th:text="#{Kirjaudu}"></h1>
	
		<form th:action="@{/login}" method="post">
		<table>
			<tr>
				<td><div><label><span th:text="#{Kayttaja}"></span></td>
				<td><input type="text" name="username"/> </label></div></td>
			</tr>
			<tr>
				<td><div><label><span th:text="#{Salasana}"></span></td>
				<td><input type="password" name="password"/> </label></div></td>
			</tr>
			<tr>
				<td><div><button type="submit" th:text="#{Kirjaudu}"></button></div></td>
			</tr>
		</table>
		</form>
		<div th:if="${param.error}">
			<span th:text="#{Error}"></span>
		</div>
	
	<br />
	<a th:href="@{/}" style="text-decoration: none; color: black"><button type="button" th:text="#{Kirjautumatta}"></button></a>
	
</body>
</html>