<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leffa login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1 th:text="#{Kirjaudu}"></h1>
	<div th:if="${param.error}">
		Invalid username and password.
	</div>
	<form th:action="@{/login}" method="post">
		<div><label><span th:text="#{Kayttaja}"></span><input type="text" name="username"/> </label></div>
		<div><label><span th:text="#{Salasana}"></span><input type="password" name="password"/> </label></div>
		<div><button type="submit" th:text="#{Kirjaudu}"></button></div>
	</form>
	<br />
	<a th:href="@{/}" style="text-decoration: none; color: black"><button type="button" th:text="#{Kirjautumatta}"></button></a>
	
</body>
</html>