<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LuoOhjaaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1 th:text="#{UusiO}"></h1>
	<form th:object="${ohjaaja}" th:action="@{saveohjaaja}" action="#" method="post">
		<table>
			<tr>
				<td th:text="#{Onimi}"></td>
				<td><input type="text" id="nimi" th:field="*{nimi}" /></td>
				<td th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">Error</td>
			</tr>
		</table>
		
		<button type="submit" th:text="#{Valmis}"></button>
		<a th:href="@{/ohjaajalist}" style="text-decoration: none; color: black"><button type="button" th:text="#{Peruuta}"></button></a>
	</form>
</body>

</html>