<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ohjaajalista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Ohjaajat</h1>
	<table>
		<tr th:each= "ohjaaja:${ohjaajat}">
			<td th:text= "${ ohjaaja.nimi }"></td>
  			<td><a th:href="@{/ohjaajat/{id}/elokuvat(id=${ohjaaja.ohjaaja_id})}">Näytä</a></td>
			<td><a th:href="@{/deleteohjaaja/{id}(id=${ohjaaja.ohjaaja_id})}">Delete</a></td>
		</tr>
	</table>

	<a th:href="@{/add}">Lisää uusi ohjaaja</a><br />
	<a th:href="@{/}">Elokuvat</a><br />
	<a th:href="@{/kategorialist}">Kategoriat</a><br />
	
</body>
</html>